/* Estilos generales del contenedor de los botones */
.container {
    display: flex;
    flex-wrap: wrap; /* Permite que los botones se envuelvan en varias filas */
    gap: 20px; /* Espacio entre los botones */
    justify-content: center; /* Centra los botones horizontalmente */
    padding: 20px; /* Espacio interno del contenedor */
}

/* Botones de categoría */
.category-button {
    width: 150px;
    height: 90px;
    background-color: #007BFF;
    color: white;
    border: none; /* Sin borde */
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem; /* Usar rem para escalabilidad */
    text-decoration: none;
    margin: 10px;
    transition: background-color 0.3s ease;
}

.category-button:hover {
    background-color: #0056b3;
}

/* Botón de retroceso */
.back-button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 20px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #0056b3;
}


/* buscar paginas */ 

.search-container {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1000;
}

#search-input {
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

#search-input::placeholder {
    color: #aaa;
    font-style: italic;
}

#search-button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#search-button:hover {
    background-color: #0056b3;
}

.suggestions-list {
    width: 250px;
    margin-top: 5px;
    padding: 0;
    list-style-type: none;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 150px;
    overflow-y: auto;
    display: none; /* Se muestra solo cuando hay sugerencias */
}

.suggestions-list li {
    padding: 8px 10px;
    cursor: pointer;
    font-size: 14px;
}

.suggestions-list li:hover {
    background-color: #f0f0f0;
}